[package]
name = "day12-1"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = 3
codegen-units = 1
lto = true  

[dependencies]
bench = {path="../../bench"}
aoc = {path="../../aoc"}
good_lp = { version = "1.14.2", features = ["lp-solvers"] }
